{% extends 'recommender/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block pagecontent %}
<div class="container-fluid">
    <div class="row">

        <!-- Training overview -->
        <div class="col-sm">
            <div class="card grid-card">
                <div class="card-body">

                    <!-- Title -->
                    <h5 class="card-title">Übersicht</h5>

                    {% if training_sessions %}
                    <div class="accordion" id="training-sessions-accordion">
                        {% for session in training_sessions %}
                        <div class="card">
                            <div class="card-header" id="heading{{session.id}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse{{session.id}}" aria-expanded="true"
                                            aria-controls="collapse{{session.id}}">
                                        {{session}}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse{{session.id}}" class="collapse" aria-labelledby="heading{{session.id}}"
                                 data-parent="#training-sessions-accordion">
                                <div class="card-body">
                                    <div class="container">

                                        <!-- Start time -->
                                        <div class="row">
                                            <div class="col-sm">Startzeit</div>
                                            <div class="col-sm">{{session.meta.start_time | date:'d.m.Y H:i:s:u' }}</div>
                                        </div>

                                        <!-- End time -->
                                        <div class="row">
                                            <div class="col-sm">Endzeit</div>
                                            <div class="col-sm">{{session.meta.end_time | date:'d.m.Y H:i:s:u'}}</div>
                                        </div>

                                        <!-- Duration -->
                                        <div class="row">
                                            <div class="col-sm">Dauer</div>
                                            <div class="col-sm">{{ session.meta.start_time|timesince:session.meta.end_time }}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% else %}
                    <div class="alert alert-info" role="alert">
                        Es wurde keine Trainingssession gefunden!
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <!-- Training controller -->
        <div class="col-sm">
            <div class="card grid-card">
                <div class="card-body">

                    <!-- Title -->
                    <h5 class="card-title">Steuereinheit</h5>

                    <!-- Controller container -->
                    <form method="POST" class="post-form">{% csrf_token %}
                        <div class="container">

                            {% bootstrap_form training_control_form %}
                            {% buttons %}
                            <button type="submit" class="btn btn-success">
                                {% bootstrap_icon "star" %} Submit
                            </button>
                            {% endbuttons %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}